{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
{% endblock %}


{% block body %}
<div class="container border" style="text-align: center; max-width: 70%;">
    <h2>{{user.user_name}}'s Profile</h2>
    <h3>User Created Quizes</h3>
    {% if current_user.get_db_id() == user.id %}
    <div>
        <button><a href="/delete_list/">Delete a Quiz</a></button>
    </div><br>{% endif %}
    {% if quizes|length < 1 %}
    <h4 style="text-align: center">There are no quizes. {% if current_user.get_db_id() == user.get_db_id() %}Create one below!{% endif %}</h4>
    {% else %}
    <!--<label for="search_text">Filter: </label>-->
    <input type="search" id="search_text" placeholder="Search...">&nbsp&nbsp<select name="search_by" id="search_by">
        <option value="data-quiz_name">Name</option>
        <!--<option value="data-quiz_creator">Creator</option>-->
    </select>
    <div class="grid-container" id="quiz_list">
        {% for quiz in quizes %}
        <button data-quiz_name="{{quiz.quizName}}" data-quiz_creator="{{quiz.creator}}"><a href="/quiz/{{ quiz.id }}">
            <h5 style="text-align: left;">
                Name: {{quiz.quizName}}
            </h5>
            <div style="text-align: left;">
                <b>Description:</b> <p>{{ quiz.quizDescription }}</p>
            </div>
            <div style="text-align: left;">
                <b>Creator:</b> {{ quiz.creator }}
            </div>
        </a></button>
        {% endfor %}
    </div>
    {% endif %}
    {% if current_user.get_db_id() == user.get_db_id() %}<a href="/create">Create</a>{% endif %}
</div>

<script src="{{ url_for('static', filename='js/list_search_bar.js') }}"></script>
{% endblock %}